<div class="container">
    <div class="title">
        <h1>Our Restaurant</h1>
    </div>

    <div class="content">
        <div class="room" *ngFor="let r of restaurants" (click)="handleMore(r)">
            <img
          [src]="r.thumbnail || 'assets/imgs/Rest.jpg'"
          alt="{{ r.name }}"
          (error)="onImgError($event)"
        />
    
            <div class="info">
                <h1>{{ r.name }}</h1>
                <p>{{ r.city }}</p>
            </div>
        </div>
    </div>
</div>

