<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hotel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../../../../../public/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../../../../../public/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/gijgo.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/slicknav.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/animate.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/themify-icons.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/slick.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/nice-select.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/style.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/responsive.css">

   </head>

   <main>

        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/servicespage_hero.jpg" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>Auth</span>
                                <h2>Register</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->

        <!-- Make customer Start-->
        <section class="make-customer-area customar-padding fix">
            <div class="container-fluid p-0">
                <div class="row">
                   <div class="col-xl-5 col-lg-6">
                        <div class="customer-img mb-120">
                            <img src="assets/img/customer/customar1.png" class="customar-img1" alt="">
                            <img src="assets/img/customer/customar2.png" class="customar-img2" alt="">
                            <div class="service-experience heartbeat">
                                <h3>Book your Room<br>NOW</h3>
                            </div>
                        </div>
                   </div>
                    <div class=" col-xl-4 col-lg-4">
                        <div class="customer-caption">
                            <span>Register</span>
                            <h2>Register your Credentials</h2>
                            <div class="caption-details">
                                <form action="#">
                                    <p class="pera-dtails">First Name </p>
                                    <div class="mt-10">
                                        <input type="text" name="first_name" placeholder="First Name"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
                                            class="single-input">
                                    </div>
                                    <p class="pera-dtails"> </p>
                                    <p class="pera-dtails">Last Name </p>
                                    <div class="mt-10">
                                        <div class="mt-10">
								<input type="text" name="last_name" placeholder="Last Name"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
                                            class="single-input">
							</div>
                                    </div>
                                    <p class="pera-dtails">Email </p>
                                    <div class="mt-10">
                                        <input type="email" name="EMAIL" placeholder="Email address"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
                                            class="single-input">
                                    </div>
                                    <p class="pera-dtails"> </p>
                                    <p class="pera-dtails">Password </p>
                                    <div class="mt-10">
                                        <input type="text" name="password" placeholder="Password"
                                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                                            class="single-input">
                                    </div>
                                </form>
                                <p class="pera-dtails"> </p>
                                <p routerLink="/login">Already Registered? Login Here! </p>
                                <a href="#" class="btn more-btn1">Register <i class="ti-angle-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Make customer End-->
    </main>

