<div class="container">
    <div class="title">
        <h1>TOP HOTEL IN THE CITY</h1>
    </div>
    <div class="info">
        <div class="subtitle">
            <div class="stylization"></div>
            <h3>Hotel & Resourt</h3>
            <div class="stylization"></div>
        </div>
        <div class="search">
            <div class="search__inputs quality-ratings">
                <div class="rating-item">
                <img src="assets/imgs/avatars/1.png" alt="Avaliador 1" class="evaluator-img" />   
                <p>Limpeza:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Quarto impecável, sem sujeiras visíveis nem odores.</p>
                </div>
                </div>
                <div class="rating-item">
                <img src="assets/imgs/avatars/2.png" alt="Avaliador 1" class="evaluator-img" />    
                <p>Serviço:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Equipe atenciosa e pronta para ajudar a qualquer momento.</p>
                </div>
                </div>
                <div class="rating-item">
                <img src="assets/imgs/avatars/3.png" alt="Avaliador 1" class="evaluator-img" />    
                <p>Conforto:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Camas e mobiliário aconchegantes, ruído controlado.</p>
                </div>
                </div>
                <div class="rating-item">
                <img src="assets/imgs/avatars/2.png" alt="Avaliador 1" class="evaluator-img" />    
                <p>Custo-Benefício:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Preço justo em comparação aos serviços oferecidos.</p>
                </div>

                </div>
            </div>
        </div>

    </div>

    <!-- <div>
        <img src="../../assets/imgs/customar1.png" alt="">
        <p>About our company</p>
        <h1>Make the customer the hero of your story</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic- ing elit, sed do eiusmod tempor inc.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div> -->
</div>
