<div class="container">
    <div class="title">
        <h1>TOP HOTEL IN THE WORLD</h1>
    </div>
    <div class="info">
        <div class="subtitle">
            <div class="stylization"></div>
            <h3>Hotels & Resourts</h3>
            <div class="stylization"></div>
        </div>
        <div class="search">
            <div class="search__inputs quality-ratings">
                <div class="rating-item">
                <img src="assets/imgs/avatars/1.png" alt="Avaliador 1" class="evaluator-img" />   
                <p>Cleanliness:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Spotless room with no visible dirt or odors.</p>
                </div>
                </div>
                <div class="rating-item">
                <img src="assets/imgs/avatars/2.png" alt="Avaliador 1" class="evaluator-img" />    
                <p>Service:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Attentive staff, ready to assist at any time.</p>
                </div>
                </div>
                <div class="rating-item">
                <img src="assets/imgs/avatars/3.png" alt="Avaliador 1" class="evaluator-img" />    
                <p>Comfort:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Cozy beds and furnishings, noise well-controlled.</p>
                </div>
                </div>
                <div class="rating-item">
                <img src="assets/imgs/avatars/2.png" alt="Avaliador 1" class="evaluator-img" />    
                <p>Value for Money:</p>
                <div class="stars">★★★★★</div>
                <div>
                    <p class="rating-desc">Fair price compared to the services offered.</p>
                </div>

                </div>
            </div>
        </div>

    </div>

    <!-- <div>
        <img src="../../assets/imgs/customar1.png" alt="">
        <p>About our company</p>
        <h1>Make the customer the hero of your story</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic- ing elit, sed do eiusmod tempor inc.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div> -->
</div>
