<div class="container">
    <div class="title">
        <h1>TOP HOTEL IN THE CITY</h1>
    </div>
    <div class="info">
        <div class="subtitle">
            <div class="stylization"></div>
            <h3>Hotel & Resourt</h3>
            <div class="stylization"></div>
        </div>
        <div class="search">
            <div class="search__inputs">
                <div>
                    <p>Check In Date:</p>
                    <input type="date" name="" id="">
                </div>

                <div>
                    <p>Check Out Date:</p>
                    <input type="date" name="" id="">
                </div>

                <div>
                    <p>Adults:</p>
                    <input type="number" name="" id="">
                </div>

                <div>
                    <p>Children:</p>
                    <input type="number" name="" id="">
                </div>
            </div>
    
            <button>Book Now</button>
        </div>
    </div>

    <!-- <div>
        <img src="../../assets/imgs/customar1.png" alt="">
        <p>About our company</p>
        <h1>Make the customer the hero of your story</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisic- ing elit, sed do eiusmod tempor inc.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div> -->
</div>