<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hotel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../../../../../public/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../../../../../public/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/gijgo.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/slicknav.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/animate.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/themify-icons.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/slick.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/nice-select.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/style.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/responsive.css">

   </head>

   <main>
        <ng-container *ngIf="serviceType === 'amenities'; else showFood">
            <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/servicespage_hero.jpg" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>Services</span>
                                <h2>Amenities List</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
            <!-- AMENITIES LIST -->
            <div class="AmenietiesList">
                <app-search-coponent></app-search-coponent>
                <ul>
                <li *ngFor="let food of amenities">
                    <a [routerLink]="['/services/servicePageAmenities', food.id]">
                    <img [src]="food.imageUrl" alt="">
                    <div class="content">
                        <div class="name">{{ food.name }}</div>
                        <span class="favorite {{food.favorite ? '' : 'not'}}">❤</span>
                        <div class="product-item-footer">
                        </div>
                        <div class="price">
                        {{ food.price | currency }}
                        </div>
                    </div>
                    </a>
                </li>
                </ul>
            </div>
        </ng-container>
        <ng-template #showFood>
            <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/servicespage_hero.jpg" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>Services</span>
                                <h2>Foods List</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
            <!-- FOOD LIST -->
            <div class="FoodList">
                <app-search-coponent></app-search-coponent>
                <app-tags></app-tags>
                <ul>
                <li *ngFor="let food of foods">
                    <a [routerLink]="['/services/servicePage', food.id]">
                    <img [src]="food.imageUrl" alt="">
                    <div class="content">
                        <div class="name">{{ food.name }}</div>
                        <span class="favorite {{food.favorite ? '' : 'not'}}">❤</span>
                        <div class="product-item-footer">
                        <div class="origins">
                            <span *ngFor="let origin of food.origins">{{ origin }}</span>
                        </div>
                        <div class="cook-time">
                            <span>🕒</span> {{ food.cookTime }}
                        </div>
                        </div>
                        <div class="price">
                        {{ food.price | currency }}
                        </div>
                    </div>
                    </a>
                </li>
                </ul>
            </div>
        </ng-template>

    </main>
