<mat-dialog-content>
<div class="modal fade">
    <div class="modal-dialog">
        <form class="modal-content" (ngSubmit)="edit()">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserLabel">Edit User Information</h5>
                <button
                type="button"
                class="btn-close"
                (click)="close()"
                aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                <label for="firstName" class="form-label">First Name</label>
                <input
                    id="firstName"
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.firstName"
                    name="firstName"
                    required
                />
                </div>
                <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input
                    id="lastName"
                    type="text"
                    class="form-control"
                    [(ngModel)]="user.lastName"
                    name="lastName"
                    required
                />
                </div>
            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
                id="email"
                type="email"
                class="form-control"
                [(ngModel)]="user.email"
                name="email"
                required
            />
            </div>
            <div class="mb-3">
            <label for="nickname" class="form-label">Password</label>
            <input
                id="nickname"
                type="text"
                class="form-control"
                [(ngModel)]="user.password"
                name="nickname"
                required
            />
            </div>
            <div class="mb-3">
                <input type="file" id="inputImg" (change)="onFileSelected($event)" accept="image/*" hidden />
                <div class="file_upload">
                    <label for="inputImg">
                        <span class="file_input">Select image</span>
                    </label>
                    <p>{{ imgName }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button
            type="button"
            class="btn btn-light"
            (click)="close()"
            >
            Cancel
            </button>
            <button type="submit" class="btn btn-primary">
            Save Changes
            </button>
        </div>
        </form>
    </div>
</div>
</mat-dialog-content>