<div class="container">
    <div class="title">
        <h2>Services</h2>
    </div>

    <div class="content">
        <div class="service">
            <h2>Our resturent</h2>
            <h1>Dining & Drinks</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    
            <button>Learn More</button>
        </div>
    
        <div class="service">
            <h2>Our Pool</h2>
            <h1>Swimming Pool</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    
            <button>Learn More</button>
        </div>
    
        <div class="service">
            <h2>Our Room Service</h2>
            <h1>Food and Take-out</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    
            <button>Learn More</button>
        </div>
    
        <div class="service">
            <h2>Our Room Service</h2>
            <h1>Amenieties</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    
            <button>Learn More</button>
        </div>
    </div>
</div>