 <mat-dialog-content>
 <div class="modal-overlay" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close" (click)="close()">×</button>
        <div class="edit-reservation-area">
            <div class="reservation-wrap">
                <div class="single-field datepicker">
                    <label>Check In Date:</label>
                    <input [(ngModel)]="checkIn" type="date" name="" id="" placeholder="12/12/2020">
                </div>
                <div class="single-field datepicker">
                    <label>Check Out Date:</label>
                    <input [(ngModel)]="checkOut" type="date" name="" id="" placeholder="12/12/2020">
                </div>
                <div class="single-field">
                    <label>Adults:</label>
                    <input [(ngModel)]="adultsNumber" type="number" value="1" min="1" />
                </div>
                <div class="single-field">
                    <label>Children:</label>
                    <input [(ngModel)]="childNumber" type="number" value="1" min="0" />
                </div>
                <div class="single-field">
                    <label>Number of Rooms:</label>
                    <input [(ngModel)]="roomQtd" type="number" value="1" min="1" />
                </div>
                <div class="single-field">
                    <label>Rooms: </label>
                    <select #roomselect
                        id="select3"
                        class="form-control"
                        name="select"
                        [(ngModel)]="selectedRoomId"
                        (ngModelChange)="changeRoom($event)"
                    >
                        <option *ngFor="let room of rooms" [value]="room.id">
                            {{ room.name }}
                        </option>
                    </select>
                </div >
                <button type="button" (click)="create()" class="book-btn">Book Now</button>
                <div *ngIf="selectedRoom?.price != null" class="total-price">${{ selectedRoom.price * roomQtd }}</div>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>