 <mat-dialog-content>
 <div class="modal-overlay" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close" (click)="close()">×</button>
        <div class="edit-reservation-area">
            <div class="reservation-wrap">
                <div class="single-field datepicker">
                    <label>Check In Date:</label>
                    <input type="date" [ngModel]="formatDate(booking.checkIn)" (ngModelChange)="booking.checkIn = parseDate($event)" placeholder="12/12/2020">
                </div>
                <div class="single-field datepicker">
                    <label>Check Out Date:</label>
                    <input type="date" [ngModel]="formatDate(booking.checkOut)" (ngModelChange)="booking.checkOut = parseDate($event)" placeholder="12/12/2020">
                </div>
                <div class="single-field">
                    <label>Adults:</label>
                    <input type="number" [(ngModel)]="booking.adultsNumber" [value]="booking.adultsNumber" min="1" />
                </div>
                <div class="single-field">
                    <label>Children:</label>
                    <input type="number" [(ngModel)]="booking.childNumber" [value]="booking.childNumber" min="0" />
                </div>
                <div class="single-field">
                    <label>Rooms QTD:</label>
                    <input [(ngModel)]="booking.roomQtd" type="number" [value]="booking.roomQtd" min="1" />
                </div>
                <div class="single-field">
                    <label>Rooms: </label>
                    <select #roomselect
                        id="select3"
                        class="form-control"
                        name="select"
                        [(ngModel)]="selectedRoomId"
                        (ngModelChange)="changeRoom($event)"
                    >
                        <option *ngFor="let room of rooms" [ngValue]="room.id">
                            {{ room.name }}
                        </option>
                    </select>
                </div>
                <button type="button" (click)="edit()" class="book-btn">Edit Now</button>
                <div class="total-price">${{ selectedRoom.price * booking.roomQtd }}</div>
            </div>
        </div>
    </div>
</div>
</mat-dialog-content>

