 <div class="modal-overlay" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="modal-close" (click)="close()">×</button>
        <div class="edit-reservation-area">
            <form (ngSubmit)="create()">
                <div class="reservation-wrap">
                <div class="single-field datepicker">
                    <label>Check In Date:</label>
                    <input type="date" [(ngModel)]="booking.checkIn" name="" id="" placeholder="12/12/2020">
                </div>
                <div class="single-field datepicker">
                    <label>Check Out Date:</label>
                    <input type="date" [(ngModel)]="booking.checkOut" name="" id="" placeholder="12/12/2020">
                </div>
                <div class="single-field">
                    <label>Adults:</label>
                    <input type="number" [(ngModel)]="booking.adultsNumber" [value]="booking.adultsNumber" min="1" />
                </div>
                <div class="single-field">
                    <label>Children:</label>
                    <input type="number" [(ngModel)]="booking.childNumber" [value]="booking.childNumber" min="0" />
                </div>
                <div class="single-field">
                    <label>Rooms QTD:</label>
                    <input #quantitySelect (change)="changeQuantity(selectedRoom,quantitySelect.value)" [(ngModel)]="booking.roomQtd" type="number" [value]="booking.roomQtd" min="1" />
                </div>
                <div class="single-field">
                    <label>Rooms: </label>
                    <select #roomselect
                        id="select3"
                        class="form-control"
                        name="select"
                        [value]="selectedRoom"
                        [(ngModel)]="selectedRoom"
                        (ngModelChange)="changeRoom($event)"
                    >
                        <option *ngFor="let room of rooms" [ngValue]="room">
                        {{ room.name }}
                        </option>
                    </select>
                </div >
                <button type="submit" class="book-btn">Book Now</button>
                <div class="total-price">${{ bookingItem.price }}</div>
                </div>
            </form>
        </div>
    </div>
</div>

