<div class="container">
    <div *ngIf="!isLogged">
        <div class="title">
            <h2>Food and Take-Out</h2>
        </div>
    
        <section class="food-service-section">
            <div class="hero">
                <img src="/assets/imgs/food-take-out/dining-img3.png" alt="Serviço de Food & Take-Out" class="hero-img" />
                <div class="hero-text">
                <h1>Food & Take-Out Service</h1>
                <p>Delicie-se com nossas opções de refeições e take-out disponíveis a qualquer hora.</p>
                </div>
            </div>
    
            <div class="features">
                <div class="feature-card" *ngFor="let feature of foodFeatures">
                <img [src]="feature.img" [alt]="feature.title" class="feature-img" />
                <h3>{{ feature.title }}</h3>
                <p>{{ feature.description }}</p>
                </div>
            </div>
        </section>
    </div>

    <div *ngIf="isLogged">
        <div class="title-reverse">
        </div>
        <div class="title">
            <h2>Create your Take-out</h2>
        </div>
        <div class="food-list">
            <app-search (searchTerm)="getSearchTerm($event)" ></app-search>
    
            <ul class="food-grid">
                <li *ngFor="let food of foods" class="food-card">
                    <a (click)="foodPage(food)">
                        <div class="card-image">
                        <img [src]="food.imageUrl" alt="{{ food.name }}" />
                        </div>
                            <div class="card-content">
                            <div class="header">
                                <h4 class="name">{{ food.name }}</h4>
                                <!-- <span class="favorite" [class.not]="!food.favorite">❤</span> -->
                            </div>
                            <div class="origins">
                                <span *ngFor="let origin of food.origins">{{ origin }}</span>
                            </div>
                            <div class="footer">
                                <span class="cook-time">🕒 {{ food.cookTime }}</span>
                                <span class="price">{{ food.price | currency }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
