<div class="container">
    <div *ngIf="isLogged">
        <div class="title-reverse">
        </div>
        <div class="title">
            <h2>Create your Take-out</h2>
        </div>
        <div class="food-list">
            <app-search (searchTerm)="getSearchTerm($event)" ></app-search>
    
            <ul class="food-grid">
                <ng-container *ngIf="foods.length < 1">
                    <div class="no-results-container">
                        <div class="icon">
                            <img src="assets/imgs/no-results.png" alt="lupa">
                        </div>
                        <p class="message">No Results</p>
                    </div>
                </ng-container>
                <li *ngFor="let food of foods" class="food-card">
                    <a (click)="foodPage(food)">
                        <div class="card-image">
                        <img [src]="food.imageUrl" alt="{{ food.name }}" />
                        </div>
                            <div class="card-content">
                            <div class="header">
                                <h4 class="name">{{ food.name }}</h4>
                                <!-- <span class="favorite" [class.not]="!food.favorite">❤</span> -->
                            </div>
                            <div class="origins">
                                <span *ngFor="let origin of food.origins">{{ origin }}</span>
                            </div>
                            <div class="footer">
                                <span class="cook-time">🕒 {{ food.cookTime }}</span>
                                <span class="price">{{ food.price | currency }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>    </div>
</div>
