<div class="page">
  <aside class="panel">
    <h2>Hotéis (mock)</h2>

    <input [(ngModel)]="query"
           placeholder="Filtrar por nome/cidade..."
           class="input" />

    <div class="stats">Total: {{ hotels.length }}</div>

    <ul class="list">
      <li *ngFor="let h of hotels" (click)="focusHotel(h)">
        <div class="item-title">{{ h.name }}</div>
        <!-- <div class="item-sub">{{ h.city }}</div> -->
      </li>
    </ul>
  </aside>

  <section class="map-wrap">
    <google-map
      #gmap
      height="100%"
      width="100%"
      [center]="center"
      [zoom]="zoom">
      <map-marker
      *ngFor="let h of hotels"
      #m="mapMarker" 
      [position]="{ lat: h.lat, lng: h.lng }"
      [title]="h.name"
      (mapClick)="openInfo(m, h)">
    </map-marker>


      <map-info-window #info>
        <div class="info">
          <div class="info-title">{{ currentHotel?.name }}</div>
          <!-- <div class="info-sub">{{ currentHotel?.city }}</div> -->
          <button class="btn" (click)="openDbpedia(currentHotel!)">Ver na DBpedia</button>
        </div>
      </map-info-window>
    </google-map>
  </section>
</div>

