<div class="container">
    <div class="title">
        <h2>Our Restaurant</h2>
    </div>
    <section class="restaurant-section">
    <div class="hero">
        <img src="/assets/imgs/restaurant/dining-img.jpg" alt="Restaurante do Hotel" class="hero-img" />
        <div class="hero-text">
        <h1>Hotel Restaurant</h1>
        <p>Exclusive flavors crafted by our chefs for you to enjoy.</p>
        </div>
    </div>

    <div class="features">
        <div class="feature-card" *ngFor="let feature of restaurantFeatures">
        <img [src]="feature.img" [alt]="feature.title" class="feature-img" />
        <h3>{{ feature.title }}</h3>
        <p>{{ feature.description }}</p>
        </div>
    </div>
    </section>
</div>
