<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Hotel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="../../../../../public/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="../../../../../public/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/gijgo.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/slicknav.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/animate.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/themify-icons.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/slick.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/nice-select.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/style.css">
            <link rel="stylesheet" href="../../../../../public/assets/css/responsive.css">

   </head>

   <main>

        <!-- slider Area Start-->
        <div class="slider-area">
            <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/servicespage_hero.jpg" >
                <div class="container">
                    <div class="row ">
                        <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                            <div class="hero-caption">
                                <span>Users</span>
                                <h2>Profile</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <section class="blog_area single-post-area section-padding">
            <div class="container">
                <div class="row">
                 <!-- Testimonial Start -->
                    <div class="col-lg-8 posts-list">
                        <div class="testimonial-area testimonial-padding">
                            <div class="container">
                            <div class="row justify-content-center">
                                    <div class="col-xl-9 col-lg-9 col-md-9">
                                        <div class="h1-testimonial-active">
                                            <!-- Single Testimonial -->
                                            <div class="single-testimonial pt-65">
                                                <!-- Testimonial tittle -->
                                                <div class="font-back-tittle mb-105">
                                                    <div class="archivment-front">
                                                        <img src="assets/img/logo/testimonial.png" alt="">
                                                    </div>
                                                    <h3 class="archivment-back">MARIAM</h3>
                                                </div>
                                                <!-- Testimonial Content -->
                                                <div class="testimonial-caption text-center">
                                                    <div class="rattiong-caption">
                                                        <span>Clifford Frazier, <span>Regular Client</span> </span>
                                                    </div>
                                                    <p>email-exemple&#64;exemple.com - (11)1111-1111
                                                    </p>
                                                    <p>Yorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
               <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">User Options</h4>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Book Online</button>
                           <h4 class="widget_title"></h4>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Food and Take-out</button>
                           <h4 class="widget_title"></h4>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Amenities</button>
                           <h4 class="widget_title"></h4>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Your Cart</button>
                           <h4 class="widget_title"></h4>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Logout</button>
                  </aside>
               </div>
            </div>
                <div class="whole-wrap">
                    <div class="container box_1170">
                        <div class="section-top-border">
                            <h3 class="mb-30">Bookings</h3>
                                <div class="blog-area blog-padding">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-4 col-md-6">
                                                <!-- Single Blog -->
                                                <div class="single-blog mb-30">
                                                    <div class="blog-img">
                                                        <a href="single-blog.html"><img src="assets/img/rooms/room4.jpg" alt=""></a>
                                                    </div>
                                                    <div class="blog-caption">
                                                        <div class="blog-cap-top d-flex justify-content-between mb-40">
                                                            <span>Check-in</span>
                                                            <ul><li>by<a href="#">Clifford Frazier </a></li></ul>
                                                        </div>
                                                        <div class="blog-cap-mid">
                                                            <p><a>Penthouse Suite	</a></p>
                                                            <p><a>	Cobertura de luxo com terraço panorâmico, piscina privativa e serviço de mordomo 24 h.</a></p>
                                                        </div>
                                                        <!-- Comments -->
                                                        <div class="blog-cap-bottom d-flex justify-content-between">
                                                            <span>Check-in Date - Feb 28, 2020</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6">
                                                <!-- Single Blog -->
                                                <div class="single-blog mb-30">
                                                    <div class="blog-img">
                                                    <a href="single-blog.html"> <img src="assets/img/rooms/room3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="blog-caption">
                                                        <div class="blog-cap-top d-flex justify-content-between mb-40">
                                                            <span>Check-in</span>
                                                            <ul><li>by<a href="#">Clifford Frazier </a></li></ul>
                                                        </div>
                                                        <div class="blog-cap-mid">
                                                            <p><a>Presidential Suite</a></p>
                                                            <p><a>Suíte espaçosa (120 m²) com sala de jantar, escritório privativo e banheira de hidromassagem.</a></p>
                                                        </div>
                                                        <!-- Comments -->
                                                        <div class="blog-cap-bottom d-flex justify-content-between">
                                                            <span>Check-in Date - Feb 28, 2020</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-6">
                                                <!-- Single Blog -->
                                                <div class="single-blog mb-30">
                                                    <div class="blog-img">
                                                        <a href="single-blog.html"><img src="assets/img/rooms/room1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="blog-caption">
                                                        <div class="blog-cap-top d-flex justify-content-between mb-40">
                                                            <span>Check-in</span>
                                                            <ul><li>by<a href="#">Clifford Frazier </a></li></ul>
                                                        </div>
                                                        <div class="blog-cap-mid">
                                                            <p><a>Deluxe Room</a></p>
                                                            <p><a>Quarto elegante com vista para a cidade, cama king-size, amenidades de cortesia premium.</a></p>
                                                        </div>
                                                        <!-- Comments -->
                                                        <div class="blog-cap-bottom d-flex justify-content-between">
                                                            <span>Check-in Date - Feb 28, 2020</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="whole-wrap">
                    <div class="container box_1170">
                        <div class="section-top-border">
                            <h3 class="mb-30">Services</h3>
                                <div class="comments-area">
                                    <div class="comment-list">
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="assets/img/dining/dining-img3.png" alt="">
                                            </div>
                                            <div class="desc">
                                                <ul>
                                                    <p class="comment">
                                                        4 Donuts
                                                    </p>
                                                    <p class="comment">
                                                        1 1.5 mls Coke
                                                    </p>
                                                    <p class="comment">
                                                        1 Chocolate Cake
                                                    </p>
                                                </ul>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                        <a href="#">Food and Take-out</a>
                                                        </h5>
                                                        <p class="date">Delivery Time -> 20:45 - 20: 55 </p>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a href="#" class="btn-reply text-uppercase">Arrived</a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-list">
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="assets/img/dining/dining-img4.png" alt="">
                                            </div>
                                            <div class="desc">
                                                <ul>
                                                    <p class="comment">
                                                        Room Cleaning
                                                    </p>
                                                    <p class="comment">
                                                        Bathroom Refreshment
                                                    </p>
                                                    <p class="comment">
                                                        New Towels
                                                    </p>
                                                </ul>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                        <a href="#">Amenities</a>
                                                        </h5>
                                                        <p class="date">Delivery Time -> 20:35 - 20: 45 </p>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a href="#" class="btn-reply text-uppercase">Arrived</a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-list">
                                        <div class="single-comment justify-content-between d-flex">
                                            <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="assets/img/dining/dining-img3.png" alt="">
                                            </div>
                                            <div class="desc">
                                                <ul>
                                                    <p class="comment">
                                                        2 Hamburguer
                                                    </p>
                                                    <p class="comment">
                                                        2 French-Frys
                                                    </p>
                                                </ul>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                        <a href="#">Food and Take-out</a>
                                                        </h5>
                                                        <p class="date">Delivery Time -> 20:25 - 20: 35 </p>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a href="#" class="btn-reply text-uppercase">Arrived</a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
