<div class="container">
    <div class="title">
        <h2>Profile Page</h2>
    </div>

  <div class="user-page">
    <aside class="sidebar">
      <div class="profile">
        <img class="avatar" src="assets/imgs/User_Icon.png" alt="avatar" />
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <p>{{ user.email }}</p>
      </div>
      <nav class="options">
        <button
        *ngFor="let opt of options"
        class="option-btn"
        (click)="onOptionClick(opt)">
        {{ opt }}
      </button>
      </nav>
    </aside>

    <main class="main-content">
      <section class="bookings">
        <h3>Bookings</h3>
        <div class="booking-card" *ngFor="let b of bookings">
          <div class="image-wrapper">
            <img src="assets/imgs/rooms/room1.jpg" alt="{{ b.title }}" />
          </div>
          <div class="info">
            <button class="status-btn">{{ b.status }}</button>
            <span class="by">by <strong>{{ b.by }}</strong></span>
            <h4>{{ b.title }}</h4>
            <p>{{ b.description }}</p>
            <small>Check-in Date - {{ b.date }}</small>
          </div>
        </div>
      </section>

      <section class="services">
        <h3>Services</h3>
        <div class="service-item" *ngFor="let s of services">
          <img class="icon" src="assets/imgs/dining/dining-img3.png" alt="{{ s.category }}" />
          <div class="details">
            <div class="item-list">
              <p *ngFor="let it of s.items">{{ it }}</p>
            </div>
            <div class="meta">
              <span class="category">{{ s.category }}</span>
              <span class="time">Delivery Time → {{ s.timeRange }}</span>
              <span class="status">{{ s.status }}</span>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>